main {
  background-color: rgba(230, 247, 247, 1);

  form {
    background: rgb(255,255,255);
    padding: 36px 36px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    width: 500px;

    div {
      display: flex;
      flex-direction: column;
      position: relative;

      input,textarea,select{
        background-color: rgba(var(--primary-rgb),.1);
        color: rgb(var(--secondary-rgb));
        border:0;
        font-size: 1rem;
        padding: .85rem 1.2rem;
        border-radius: 12px;
        width: 100%;
      }

      textarea{
        resize: none;
      }
      small{
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 8px;
        color: rgba(230,0,0,.5);
        background: rgba(200,100,100,.4);
      }
    }



  }
}
